.calculator-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 3px solid #8A2BE2;
    border-radius: 8px;
    background-color: #f3f1f9;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.input-container {
    border: 2px solid #8A2BE2;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 20px;
}

.title {
    text-align: center;
    color: #8A2BE2;
}

.calculator-form {
    display: flex;
    justify-content: center;
}

.input-row {
    display: flex;
    gap: 10px;
    align-items: center;
}

.input-field, .select-field, .submit-button, .result-field {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.input-field {
    width: 120px;
    text-align: center;
    color: #333;
}

.select-field {
    width: 60px;
    background-color: #fff;
    text-align: center;
}

.submit-button {
    background-color: #8A2BE2;
    color: white;
    cursor: pointer;
    font-size: 16px;
    border: none;
    padding: 0 15px;
    transition: background-color 0.3s;
}

    .submit-button:hover {
        background-color: #6a1bb8;
    }

.result-field {
    width: 100px;
    background-color: #e8e0f4;
    font-weight: bold;
    text-align: center;
    pointer-events: none;
}

.old-results-container {
    border: 2px solid #8A2BE2;
    padding: 10px;
    border-radius: 8px;
}

.calculation-table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

    .calculation-table th, .calculation-table td {
        padding: 10px;
        text-align: center;
        border: 1px solid #ccc;
        overflow: auto;
        text-overflow:initial;
    }

    .calculation-table th {
        background-color: #8A2BE2;
        color: white;
    }

.delete-button {
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

    .delete-button:hover {
        background-color: darkred;
    }

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

    .pagination a {
        margin: 0 5px;
        padding: 8px 12px;
        border: 1px solid #8A2BE2;
        border-radius: 4px;
        color: #8A2BE2;
        text-decoration: none;
    }

        .pagination a.active {
            background-color: #8A2BE2;
            color: white;
        }

        .pagination a:hover {
            background-color: #e8e0f4;
        }
